{% extends 'base.html' %}

{% block title %}
    <title>Success</title>
{% endblock %}

{% block content %}
<div class="container mt-4 p-5 rounded-5 w-50 mx-auto" style="background-color:pink;">
    <h1 class="text-center text-primary">
        Do you want to delete task
        <span style="color:red"> {{obj.name}} </span>?
    </h1>
    <form method="post" class="text-center">
        {% csrf_token %}
        <input type="submit" value="Yes" class="btn btn-danger me-2">
        <a href="/a1/sv/"><button type="button" class="btn btn-success">No</button></a>
    </form>
</div>
{% endblock %}